.albumCardMainContainer{
    color:azure;
    display: flex;
}
.albCardContainer{
    /* border: 2px solid rgb(0, 255, 115); */
    margin-top: 20px;
    width: 20%;
    height: 100%;
    
    
}
.albCardContainer img{
    height: 79%;
    width: 90%;
    /* object-fit: cover; */
}
.cardTextContainer{
font-size: 13px;
font-family: sans-serif;
color: white;
margin-left: 10px;
/* font-weight: 400; */
}
