.artistCardMainContainer{
    display: flex;
    /* overflow-x: scroll; */
}
.artCardContainer{
    /* border: 2px solid red; */
     width: 20%;
     /* height:30%; */
     margin-top: 20px;
    
}
.artCardContainer img{
     border-radius: 50%;
     height: 75%;
     width: 90%;
     margin: auto;
     
}